@{
    ViewData["Title"] = "Home";
}

<div class="hero-banner" style="background-color: #2e2e2e; padding: 30px 0;">
    <!-- Verde scuro, ma puoi cambiare con #000 per nero o #3a3a3a per grigio -->
    <div class="container text-center">
        <img src="/images/JerseyShopLogo.png" alt="JerseyShop Logo" style="max-width: 150px; margin-bottom: 10px;" />
        <h1 class="text-white">Benvenuti su JerseyShop</h1>
        <a href="/Maglia/Speciali" class="btn btn-primary btn-lg mt-3">Vai alle Maglie Speciali</a>
    </div>
</div>

<hr />
<div class="container">
    <h2 class="text-center mb-5">Scegli il tuo campionato</h2>
    <div class="row text-center">
        <div class="col-md-2 offset-md-1">
            <a href="/Maglia/PremierLeague">
                <div class="league-logo-circle">
                    <img src="/images/premier-league-2016-logo.png" alt="Premier League" class="img-fluid" />
                </div>
            </a>
        </div>
        <div class="col-md-2">
            <a href="/Maglia/SerieA">
                <div class="league-logo-circle">
                    <img src="/images/serie-a-2019-2021-logo.png" alt="Serie A" class="img-fluid" />
                </div>
            </a>
        </div>
        <div class="col-md-2">
            <a href="/Maglia/LaLiga">
                <div class="league-logo-circle">
                    <img src="/images/la-liga-2023-logo.png" alt="La Liga" class="img-fluid" />
                </div>
            </a>
        </div>
        <div class="col-md-2">
            <a href="/Maglia/Bundesliga">
                <div class="league-logo-circle">
                    <img src="/images/bundesliga-2017-logo.png" alt="Bundesliga" class="img-fluid" />
                </div>
            </a>
        </div>
        <div class="col-md-2">
            <a href="/Maglia/Ligue1">
                <div class="league-logo-circle">
                    <img src="/images/ligue-1-2024-logo.png" alt="Ligue 1" class="img-fluid" />
                </div>
            </a>
        </div>
    </div>
</div>
