@{
    ViewData["Title"] = "Home";
}
<link rel="stylesheet" href="~/css/site.css" />
<div class="hero-banner">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-4">
                <img src="/images/Maglie/5706c3aa-5f36-42ce-9399-63197f8f066a_retro-italia.png" alt="Maglia Italia" class="img-fluid banner-jersey left-jersey" />
            </div>
            <div class="col-md-4 text-center">
                <h1 class="text-white mb-4">Benvenuti su FRESHKIT</h1>
                <a href="@Url.Action("Speciali", "Maglia")" class="btn btn-primary btn-lg">Vai alle Maglie Speciali</a>
            </div>
            <div class="col-md-4">
                <img src="/images/Maglie/16f188f5-2d28-41d0-984c-0a7fe1cb3d49_retro-belgio.png" alt="Maglia Belgio" class="img-fluid banner-jersey right-jersey" />
            </div>
        </div>
    </div>
</div>



<hr />
<div class="container">
    <h2 class="text-center mb-5">Scegli il tuo campionato</h2>
    <div class="row text-center">
        <div class="col-md-2 offset-md-1">
            <a href="/Maglia/PremierLeague">
                <div class="league-logo-circle">
                    <img src="/images/premier-league-2016-logo.png" alt="Premier League" class="img-fluid" />
                </div>
            </a>
        </div>
        <div class="col-md-2">
            <a href="/Maglia/SerieA">
                <div class="league-logo-circle">
                    <img src="/images/serie-a-2019-2021-logo.png" alt="Serie A" class="img-fluid" />
                </div>
            </a>
        </div>
        <div class="col-md-2">
            <a href="/Maglia/LaLiga">
                <div class="league-logo-circle">
                    <img src="/images/la-liga-2023-logo.png" alt="La Liga" class="img-fluid" />
                </div>
            </a>
        </div>
        <div class="col-md-2">
            <a href="/Maglia/Bundesliga">
                <div class="league-logo-circle">
                    <img src="/images/bundesliga-2017-logo.png" alt="Bundesliga" class="img-fluid" />
                </div>
            </a>
        </div>
        <div class="col-md-2">
            <a href="/Maglia/Ligue1">
                <div class="league-logo-circle">
                    <img src="/images/ligue-1-2024-logo.png" alt="Ligue 1" class="img-fluid" />
                </div>
            </a>
        </div>
    </div>
</div>
