@{
    ViewData["Title"] = "Home";
}

<div class="hero-banner" style="background-color: #2e2e2e; padding: 30px 0; position: relative;">
    <div class="container text-center">
        <div style="position: relative; display: inline-block;">

            <!-- Maglia Calafiori (retro-italia) -->
            <img src="/images/Maglie/5706c3aa-5f36-42ce-9399-63197f8f066a_retro-italia.png" alt="Special Calafiori Jersey"
                 style="width: 19vw; position: absolute; left: -18vw; top: 60%; transform: translateY(-50%) rotate(-15deg);" />

            <!-- Logo -->
            <img src="/images/JerseyShopLogo.png" alt="JerseyShop Logo" style="width: 12vw; margin-bottom: 10px;" />

            <!-- Maglia Lukaku (retro-belgio) -->
            <img src="/images/Maglie/c6127bc5-d119-41c2-8de0-03359de4e95a_retro-belgio.png" alt="Special Lukaku Jersey"
                 style="width: 19vw; position: absolute; right: -18vw; top: 60%; transform: translateY(-50%) rotate(15deg);" />
        </div>

        <h1 class="text-white">Benvenuti su JerseyShop</h1>
        <a href="/Maglia/Speciali" class="btn btn-primary btn-lg mt-3">Vai alle Maglie Speciali</a>
    </div>
</div>


<hr />
<div class="container">
    <h2 class="text-center mb-5">Scegli il tuo campionato</h2>
    <div class="row text-center">
        <div class="col-md-2 offset-md-1">
            <a href="/Maglia/PremierLeague">
                <div class="league-logo-circle">
                    <img src="/images/premier-league-2016-logo.png" alt="Premier League" class="img-fluid" />
                </div>
            </a>
        </div>
        <div class="col-md-2">
            <a href="/Maglia/SerieA">
                <div class="league-logo-circle">
                    <img src="/images/serie-a-2019-2021-logo.png" alt="Serie A" class="img-fluid" />
                </div>
            </a>
        </div>
        <div class="col-md-2">
            <a href="/Maglia/LaLiga">
                <div class="league-logo-circle">
                    <img src="/images/la-liga-2023-logo.png" alt="La Liga" class="img-fluid" />
                </div>
            </a>
        </div>
        <div class="col-md-2">
            <a href="/Maglia/Bundesliga">
                <div class="league-logo-circle">
                    <img src="/images/bundesliga-2017-logo.png" alt="Bundesliga" class="img-fluid" />
                </div>
            </a>
        </div>
        <div class="col-md-2">
            <a href="/Maglia/Ligue1">
                <div class="league-logo-circle">
                    <img src="/images/ligue-1-2024-logo.png" alt="Ligue 1" class="img-fluid" />
                </div>
            </a>
        </div>
    </div>

</div>
